<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name=".BillManagerWidgetReceiver"
      android:exported="true"
      android:label="@string/billmanager_widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/billmanager_widget_info" />
    </receiver>
  </application>
</manifest>
